<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/smooth-scroll.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>⛳️ 🎰 Parlay-Golfer</h1>
            <h1>A Charity Golf App</h1>
            
            <h2>Scorecard</h2>
            <p><%= course.coursename %></p>

            <% course.holeteeboxes.forEach(function(hole) { %>
            <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col"><%= hole.holenumber %></th>
                        <th scope="col"><%= hole.color %></th>
                        <th scope="col"><%= hole.length %></th>
                        <th scope="col"><%= hole.par %></th>
                        <th scope="col"><%= hole.handicap %></th>
                        <th scope="col"><%= hole.teeboxtype %></th>
                      </tr>
                    </thead>
             <% }); %>
        </div>
    </div>
</body>

</html>